.footer {
    background-color: var(--footer_color);
    height: var(--footer_height);
    color: var(--footer-text_color);
    font-size: var(--footer-text_font-size);
    display: flex;
    flex-direction: row;
    justify-content: space-between; /*FIXME: Puede ser que necesite colcoar space-evenly*/
    width: 100%;
}

.footer > article {
    width: 40%;
}

.footer > p {
    width: 35%;
    text-align: center;
}

.footer > .footer_social-media {
    width: 25%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.footer > .footer_social-media > picture {
    width: 80%;
    height: 100%;
    background-color: red;
}

.footer > .footer_social-media > picture > a {
    display: block;
    background-color: bisque;
    width: 100%;
    height: 100%;
}

.footer > .footer_social-media > picture > a > img {
    background-color: aquamarine;
    width: 100%;
    height: 100%;
}