:root {
    --header_color: #22E5F0;
    --header-logo_color: #7072bd;
    --header-nav_color: #2d94cf;
    --main_color: #f5f5dc;
    --footer_color: #afafaf;

    /*Colors Pseudoclasses*/
    --header-nav_hover-color: #ac1e1e;

    /*Font colors*/
    --nav-text_color: #000000;
    --main-title-text_font-color: #000000;
    --main-text_font-color: #000000;
    --footer-text_color: #fafafa;

    /*Font sizes Mobile*/
    --nav_font-size: 1.8rem;
    --main-title_font-size: 1.6rem;
    --main-text_font-size: 1.3rem;
    --footer-text_font-size: 1.0rem;

    /*Font sizes Tablet*/
    --nav_font-size-Tablet: 2.0rem;
    --main-title_font-size-Tablet: 1.8rem;
    --main-text_font-size-Tablet: 1.5rem;
    --footer-text_font-size-Tablet: 1.2rem;

    /*Font sizes PC*/
    --nav_font-size-Desktop: 2.2rem;
    --main-title_font-size-Desktop: 2.0rem;
    --main-text_font-size-Desktop: 1.7rem;
    --footer-text_font-size-Desktop: 1.4rem;

    /*Header and Footer height*/
    --header_height: 10%;
    --footer_height: 10%;

}

* {
    box-sizing: border-box;
    /* margin: 0;
    padding: 0; */
}

html {
    font-size: 62.5%;
}

.header {
    background-color: var(--header_color);
    height: var(--header_height);
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0px;
}

.logo {
    /* background-color: var(--header-logo_color); */
    margin: 0;
    padding: 0;
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo > a, .logo > a > img {
    width: 100%;
    height: 100%;
}


.header-nav {
    height: 60%;
    /* display: flex;
    flex-direction: column;
    justify-content: center; Alineación vertical */
    font-size: var(--nav_font-size);
    color: var(--nav-text_color);
}

.nav { /*TODO: ACOMODRAR PARA QUE SE VEA EL BORDESITO*/
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; /* alineación vertical*/
    height: 100%;
}

.header-nav > .nav > li{
    list-style: none;
}

.header-nav > .nav > li :hover {
    background-color: var(--header-nav_hover-color);
}

.header-nav > .nav > li > a {
    text-decoration: none;
}

/*.nav .main-nav > li > a:hover {    
}*/

/* .nav .main-nav > li > a :active {
    background-color: red;
}*/