.main .main_title {
    font-size: var(--main-title_font-size-Tablet);
}

.main .main_text {
    font-size: var(--main-text_font-size-Tablet);
    margin: calc((var(--main-text_font-size-Tablet) + 0.2rem)/2) 1.2rem;
}

/*.main > .location {
    height: auto;
}*/