.main > *{
    max-width: 2200px;
}

.main .main_title {
    font-size: var(--main-title_font-size-Desktop);
}

.main .main_text {
    font-size: var(--main-text_font-size-Desktop);
    margin: calc((var(--main-text_font-size-Desktop) + 0.2rem)/2) 1.2rem;
}

.location_map {
    max-width: 2190px;
}